{% extends 'testApp/base.html' %}

{% block content %}
    <article class="post">
    <aside class="actions">
        <a class="btn btn-default" href="{% url 'edit_modelo' pk=post.pk %}">
            {% comment %} {% include './icons/pencil-fill.svg' %} {% endcomment %}
        </a>
    </aside>
        {% if post.fechaPubli %}
            <time class="date">
                {{ post.fechaPubli }}
            </time>
        {% endif %}
        <h2>{{ post.titulo }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endblock %}